.button-link {

    padding: 0 40px;
    background: #FBDC4D;
    border-radius: 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 64px;
    transition: all .3s ease-in;

    &:hover {
        transform: translateY(-3px);
    }

    &:hover, & :focus {
        background-color:  #FFEB8D;
    }
    &:active {
        background-color:  #F5D22D;
    }


    &--white {
        background: #EFF7FC;
        &:hover, & :focus {
            background-color: #D1EDFF;;
        }
        &:active {
            background-color: #B0DCF8;
        }
    }

    /* Tablet */
    @media (max-width: 1139px) {
        padding: 0 26px;
        line-height: 58px;
    }

}